body {
  font-size: 16px;
  color: #fff;
  background-color:#630;
}

/** HEADER **/
#header-nav {
  background-color:#C60;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Bungee', cursive;
  color:#FFF;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color:#FFF;
  text-align: center;
}
#nav-list a:hover {
  background:#630;
  border:1px dotted #903;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFF;
}
.navbar-header button.navbar-toggle {
  clear: both;
}
/* END HEADER */
/* HOME PAGE */
.container h2 { color:#FFF;
font-family: 'Bungee Inline', cursive; }
.container .box {
  background:#666;
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  width:100%;
  height:1000px;
}
.container .box p{
	background:#666;
	color:#000;
	text-align:center;
	padding:15px;
    font-family: 'Fjalla One', sans-serif;
}
/* END HOME PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .box {
    height: 1000px;
  }
}

/********** Medium devices only **********/
@media (min-width: 900px) and (max-width: 1199px) {
  /* Home Page */
  .container .box {

  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 899px) {
  /* Home Page */
  .container .box {
	margin-right:10px;
	overflow:hidden;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
  /* Home Page */
  .container .box {
    margin-top: 30px;
    padding: 0;
	margin-right:20px;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

}

}
